@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    --color-bg-blocks-azure: #b4dbfd;
    --color-bg-blocks-violet: #9691e2;
    --color-title-blu: #0083fb;
    --color-title-violet: #9691e2;
    --default-font-size: 16px;
    --default-line-height: 2rem;
    --margin-top-mobile: 2rem;
    --default-container-gap: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--default-font-size);
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
    white-space: nowrap;
}

section:nth-child(odd) {
    background-color: var(--color-bg-blocks-violet);
}

section {
    margin-top: 2rem;
    padding: 3rem 0;
}

/*  buttons  */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 50px;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
}

.btn:hover {
    text-decoration: underline;
}

.btn.blu {
    color: white;
    background-color: #0083fb;
}

.btn.violet {
    color: white;
    background-color: #9691e2;
}

.btn.white {
    color: #9691e2;
    background-color: white;
}

/*  buttons end  */

.navbar .links li a {
    text-decoration: none;
    color: #f4f9fd;
}

.navbar .links li a:hover {
    text-decoration: underline;
    color: crimson;
    transition: .5s;
}

.navbar .links .btn.sign-up {
    color: black;
    background-color: #f4f9fd;
    padding: 6px;
    border-radius: 30px;
}

.navbar,
.hero,
section {
    display: flex;
    justify-content: center;
}

.navbar .container,
.hero .container,
section .container {
    width: 1200px;
    padding: 2rem;
}

.navbar {
    color: #f4f9fd;
    background-color: #0083fb;
}

.navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar .links {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.hero .container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.hero .box {
    background-color: var(--color-bg-blocks-azure);
    border-radius: 20px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.hero .box:first-child {
    flex-basis: calc((100% - 1rem) / 3 * 2);
    flex-direction: row;
    text-align: left;
    justify-content: center;
}

.hero .box:first-child .side {
    flex-basis: 50%;
}

.hero .box:first-child img {
    max-width: 100%;
    margin-bottom: -3rem;
}

.hero .box:nth-child(2) {
    flex-basis: calc((100% - 1rem) / 3);
}

.hero .box:nth-last-child(-n+3) {
    flex-basis: calc((100% - 2.5rem) / 3);
}

.hero .box h3 {
    color: var(--color-title-blu);
}

.hero .box p {
    line-height: var(--default-line-height);
}

.hero .box > *,
.hero .box .side.left > * {
    margin: 1rem 0;
}

.hero .box .btn.download {
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
    color: white;
    background-color: var(--color-title-blu);
}

.hero .box > i {
    color: var(--color-title-blu);
    font-size: 4rem;
}

/*  section planning  */
.planning .container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.planning .box {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.planning .box i {
    background-color: var(--color-title-violet);
    padding: 25px;
    border-radius: 50%;
}

.planning .box img {
    max-width: 100%;
}

.planning .box.left {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    color: white;
    gap: 3rem;
}

.planning .box.left h3 {
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.planning .box.right {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 15rem;
    background-color: white;
    border-radius: 60px;
    gap: 1.5rem;
}

.planning .box {
    line-height: var(--default-line-height);;
}

.planning .box.right p {
    font-style: italic;
}

/*  section testimonials  */
.testimonials .container > *:nth-child(-n+3) {
    text-align: center;
    margin-bottom: 3rem;
}

.testimonials .container > h1 {
    font-size: 2rem;
    color: var(--color-title-violet);
}

.testimonial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg-blocks-violet);
    color: white;
    border-radius: 40px;
    padding: 2rem;
    margin-top: 2rem;
}

.testimonial .img-container {
    flex: 0 1 20%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}

.testimonial#reynolds .img-container {
    background-image: url("../assets/img/testimonial1.jpg");
}

.testimonial#almeda .img-container {
    background-image: url("../assets/img/testimonial2.jpg");
}

.testimonial#roberts .img-container {
    background-image: url("../assets/img/testimonial3.jpg");
}

.testimonial .txt {
    flex: 0 1 75%;
    line-height: var(--default-line-height);
}

.testimonial .txt h3 {
    margin-top: 1.5rem;
}

.testimonial .txt p:before {
    display: inline-block;
    content: url("../assets/img/quote-left-solid.svg");
    width: var(--default-font-size);
    height: var(--default-font-size);
    filter: invert(100);
}

.testimonial .txt p:after {
    display: inline-block;
    content: url("../assets/img/quote-right-solid.svg");
    width: var(--default-font-size);
    height: var(--default-font-size);
    filter: invert(100);
}

/*  benefits section  */
.benefits .container .title > h1 {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.benefits .container .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-container-gap);
}

.benefits .box {
    flex: 0 1 calc((100% - 3rem) / 3);
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    line-height: calc(var(--default-line-height) - .5rem);
}

.benefits .box > * {
    padding: 1.5rem 0 .5rem 0;
}

.benefits .box h1 {
    font-size: 3rem;
    color: var(--color-title-violet);
}

.benefits .box h3 {
    color: var(--color-title-violet);
}

/*  about section  */
.about .container {
    display: flex;
    gap: 5rem;
}

.about .side {
    display: flex;
    flex-direction: column;
}

.about .side > * {
    padding: 1rem 0;
}

.about .side.left h1 {
    font-size: 3rem;
    color: var(--color-title-violet);
}

.about .side.left {
    line-height: calc(var(--default-line-height) + .5rem);
}

.about .side.right .img-container {
    aspect-ratio: 1 / 1;
    background-image: url("../assets/img/about.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}

.about .side.right h3 {
    font-size: 1.5rem;
    color: var(--color-title-violet);
}

.about .side.right .btn {
    padding: 5px 15px;
}

/*  section get-started  */
.get-started .container {
    max-width: 40%;
    text-align: center;
}

.get-started .container > * {
    padding: 1rem;
    color: white;
}

.get-started h3 {
    font-weight: lighter;
}

.get-started h2 {
    font-size: 2rem;
}

.get-started .big-title {
    color: #fdc15f;
    font-size: 4rem;
}

.get-started .btn {
    padding: 20px 80px;
    border-radius: 40px;
    font-weight: bold;
}

/*  footer  */
.footer {
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: center;
}

.footer a {
    color: blueviolet;
}

.footer .container {
    padding: 3rem;
    max-width: 40%;
    text-align: center;
}

.footer .container p:last-child {
    margin-top: 3rem;
}

@media (max-width: 480px) {
    /* Styles for mobile devices */
    .hero .container,
    .benefits .container .flex-container,
    .about .container {
        display: block;
    }

    .hero .container > *,
    .benefits .container .flex-container > *,
    .about .container > * {
        margin-top: var(--margin-top-mobile);
    }

    .about .container .img-container {
        max-width: 40%;
    }

    .get-started .container,
    .footer .container {
        max-width: 100%;
    }

    .hero .box:first-child,
    .testimonials .testimonial {
        display: block;
    }

    .testimonials .testimonial > * {
        padding: 1rem;
        text-align: center;
    }
}

@media (max-width: 767px) {
    /* Styles for tablet devices */
    .navbar .container {
        width: 100%;
        padding: 10px 20px;
    }

    .hamburger {
        display: block;
    }

    .navbar .links {
        display: none;
    }

    .hero .box:first-child {
        display: block;
    }

    .hero .box:first-child img {
        max-width: 60%;
    }

    .planning .container {
        display: block;
    }

    .planning .container .box.right {
        margin-top: 0;
    }

    .benefits .container .flex-container .box {
        flex: 0 1 calc((100% - var(--default-container-gap)) / 2);
    }

    .get-started .container,
    .footer .container {
        max-width: 80%;
    }
}