* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.navbar .links li a {
    text-decoration: none;
    color: #f4f9fd;
}

.navbar .links li a:hover {
    text-decoration: underline;
    color: crimson;
    transition: .5s;
}

.navbar .links li:last-child a {
    color: black;
    background-color: #f4f9fd;
    padding: 6px;
    border-radius: 30px;
}

.navbar {
    color: #f4f9fd;
    background-color: #0083fb;
    display: flex;
    justify-content: center;
}

.navbar .container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navbar .links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 480px) {
    /* Hamburger menu styles for mobile devices */
    .navbar .container {
        width: 100%;
    }

    .hamburger {
        display: block;
    }

    .navbar .links {
        display: none;
    }
}

@media (max-width: 767px) {
    /* Hamburger menu styles for tablet devices */
    .navbar .container {
        width: 100%;
    }
}